[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
numpy = "*"
pandas = "*"
flask-uploads = "*"
scikit-learn = "*"
torch = "*"

[requires]
python_version = "3.6"
